#display-container {
	width: 500px;
    height: 700px;
    float: left;
    border: 1px solid blue;
    position: relative;
    left: 20px;
}

#list-left {
	float: left;
}

#list-top .list-image {
	display: inline-block;
}

#list-left-bottom {
	float: right;
	display: block;
}

.list-image img {
	width: 100px;
    height: 100px;
}

ul {
	list-style: none;
}
#display {
	width: 500px;
	height: auto;
}